<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a1371101-f9a6-47ae-be7c-1984627f477e/resourcegroups/Server/providers/Microsoft.Web/sites/MoneyTracker201702</ResourceId>
    <ResourceGroup>Server</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moneytracker201702.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moneytracker201702.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MoneyTracker201702</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MoneyTracker201702</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:moneytracker2017adbserver.database.windows.net,1433;Initial Catalog=Identity;User ID=aaron@moneytracker2017adbserver;Password=goD(child.of)7" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MoneyTracker.Models.ID.ApplicationDbContext, MoneyTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PrimaryContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:moneytracker2017adbserver.database.windows.net,1433;Initial Catalog=MoneyTracker;User ID=aaron@moneytracker2017adbserver;Password=goD(child.of)7" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MoneyTracker.DAL.PrimaryContext, MoneyTracker" MigrationConfiguration="MoneyTracker.DAL.PrimaryMigrations.Configuration, MoneyTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PrimaryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:moneytracker2017adbserver.database.windows.net,1433;Initial Catalog=MoneyTracker;User ID=aaron@moneytracker2017adbserver;Password=goD(child.of)7</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:moneytracker2017adbserver.database.windows.net,1433;Initial Catalog=Identity;User ID=aaron@moneytracker2017adbserver;Password=goD(child.of)7</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PrimaryContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:moneytracker2017adbserver.database.windows.net,1433;Initial Catalog=PrimaryContext;User Id=aaron@moneytracker2017adbserver;Password=goD(child.of)7</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:moneytracker2017adbserver.database.windows.net,1433;Initial Catalog=Identity;User ID=aaron@moneytracker2017adbserver;Password=goD(child.of)7</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>